<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # -------------------------------------------------
    # 1️⃣ Handle Authorization Header
    # -------------------------------------------------
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # -------------------------------------------------
    # 2️⃣ Redirect Trailing Slashes If Not A Folder...
    # -------------------------------------------------
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # -------------------------------------------------
    # 3️⃣ Allow access to assets, build, storage
    # -------------------------------------------------
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # -------------------------------------------------
    # 4️⃣ Send All Other Requests To Laravel's Front Controller
    # -------------------------------------------------
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
